<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>noteUpdateForm</title>
</head>
<body>
<h1><a href="/notes">Main</a></h1>
<h2>감사 노트 수정</h2>
<form th:action="@{/notes/{noteId}/update(noteId=${note.id})}" method="post">
  <input type="hidden" name="id" th:value="${note.id}" />

  <label>첫 번째 감사:</label>
  <input type="text" name="text[0].content" th:value="${note.text[0].content}" />
  <br>

  <label>두 번째 감사:</label>
  <input type="text" name="text[1].content" th:value="${note.text[1].content}" />
  <br>

  <label>세 번째 감사:</label>
  <input type="text" name="text[2].content" th:value="${note.text[2].content}" />
  <br>

  <label>업로드 날짜:</label>
  <span th:text="*{#temporals.format(note.uploadAt, 'yyyy년 MM월 dd일의 노트')}"></span>
  <br>

  <input type="submit" value="수정하기" />
</form>
</body>
</html>