<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>noteWriteForm</title>
</head>
<body>
    <a href="/notes">Main</a>
    <h2>감사 노트 작성</h2>
    <form action="/notes/write" method="post">
        <div>
            <label for="isPublic">글 비공개 여부:</label>
            <input type="checkbox" id="isPublic" name="isPublic">
        </div>
        <div class="form-group">
            <label for="firstText">첫 번째 감사:</label>
            <input type="text" id="firstText" name="text[0].content" required>
        </div>
        <div class="form-group">
            <label for="secondText">두 번째 감사:</label>
            <input type="text" id="secondText" name="text[1].content" required>
        </div>
        <div class="form-group">
            <label for="thirdText">세 번째 감사:</label>
            <input type="text" id="thirdText" name="text[2].content" required>
        </div>
        <div class="form-group">
            <input type="submit" value="작성">
        </div>
    </form>
</body>
</html>